<button mat-raised-button (click)="goback()">返回</button>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>阿里巴巴成首个单季营收破千亿中国互联网公司</mat-card-title>
    <mat-card-subtitle>2019-1-31 21:00</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      中国青年网北京1月30日电 北京时间1月30日晚，阿里巴巴集团公布2019财年第三季度业绩，
      集团收入同比增长41%达1172.78亿元。这是中国首个互联网公司实现单季营收破千亿，
      彰显出中国社会强大的消费信心以及阿里巴巴强劲的“平台效应”。
    </p>
    <img mat-card-image src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=542868259,2390763485&fm=173&app=49&f=JPEG?w=554&h=369&s=FBA400C0FAF15E8EA8B54D96030080B0">
    <p>财报显示，淘宝移动月度活跃用户达到6.99亿，较2018年9月增加3300万，
      淘宝作为国民级应用价值凸显。“单季营收破千亿”和“人手一辆购物车”的背后，
      得益于数字经济所激发的旺盛消费需求。超预期增长的阿里巴巴和蓬勃的数字经济，
      正在激发中国消费的庞大潜力。
    </p>
  </mat-card-content>
</mat-card>